---
import { type CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Author from "../components/vue-components/blog/Author.vue";
import HeaderNav from "../components/vue-components/header/HeaderNav.vue";
import FooterNav from "../components/vue-components/footer/FooterNav.vue";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"] & {
  prevPost?: { slug: string; title: string };
  nextPost?: { slug: string; title: string };
};

const { title, description, pubDate, updatedDate, tags, minutesRead, prevPost, nextPost  } =
  Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <div class="blog-post relative">
      <HeaderNav client:load />
      <main class="mx-auto w-full sm:w-2/3 p-4 mt-16">
        <article>
          <div class="text-center mt-8">
            <span class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <span class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </span>
                )
              }
            </span>
            {
              minutesRead && (
                <span class="minutes-read">&middot; {minutesRead}</span>
              )
            }
          </div>

          <h1>{title}</h1>
          <p>{description}</p>
          <slot />
          {tags && tags.length > 0 && (
              <div class="text-center mt-9">Filed under</div>
              <span class="tags">
                {tags.map((tag) => (
                  <span class="tag">{tag}</span>
                ))}
              </span>
            )
          }
          <div class="flex mt-9 justify-between">
            <div>
              {prevPost && (
                <a href={`/blog/${prevPost.slug}`} class="inline-block border-2 rounded px-4 py-1 no-underline" title={prevPost.title}>
                  &larr; Previous Post
                </a>
              )}
            </div>
            <div>
              {nextPost && (
                <a href={`/blog/${nextPost.slug}`} class="inline-block border-2 rounded px-4 py-1 no-underline" title={nextPost.title}>
                  Next Post &rarr;
                </a>
              )}
            </div>
          </div>
          <Author />
        </article>
      </main>
      <FooterNav showContact={false} showSocials={false} />
    </div>
  </body>
</html>
